* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}

.header_logo {
    width: 200px;
    height:72.5px;
    object-fit: cover;
    margin-left: 3rem;
}

.header_nav {
    margin-right: 12%;
    display: flex;
    list-style:none;
    flex-wrap:wrap;
    padding-top: 20px;
}

.header_link {
    font-family: 'Lato', sans-serif;
    font-size:14px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
    padding: 10px;
    color: #47654d;
}

.header_link:hover {
    background-color:#47654d;
    color:azure;
}

/* AQUI VAMOS CON EL CAROUSEL */

.top-carousel {
    margin-top: 1rem;
}

.carousel-caption {
    background-color: rgb(0,160,47,0.6);
    right: 20%;
    left: 20%;
    width: 60%;
    height: 80px;
    line-height: 0%;
    padding-top:1%;
    
}


/* AQUI FINALIZAMOS CON EL CAROUSEL */


/* AQUI VAMOS CON LOS PRODUCTOS */

.titulo-productos {
    text-align: center;
    margin: 30px 0px 30px;

}

.titulo-productos h1 {
    font-weight: 300;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}

.card-body {
    background-color:#47654d;
    color:azure;
    text-align: center;
}


.inner {
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.container {
    justify-content: flex-end;
}

.productos-margen {
    margin-left: 7%;
    margin-right: 7%;
}

.margen-corto {
    margin-right:1%;
}

.card:hover .card-body {
    background-color: azure;
    color: #47654d;
}


/* AQUI FINALIZAMOS CON LOS PRODUCTOS */

.video {
    display: flex;
    align-items:flex-end;
    width: 100%;
    height: 400px;
    margin-left: 7%;
    margin-right: 20%;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.video_iframe {
    width: 100%;
    height: 100%
}

.nuestra {
    background-image: url(../images/Nuestra_empresa.jpg);
    object-fit: cover;
    background-repeat: round;
    max-width: 100%;
    height: 330px;
    margin: 0 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 2rem;
    background-position: 100% 100%;
}

.texto_nuestra {
    text-align: center;
    justify-content:center;
    position: absolute;
    margin: 0 20%;
    color: aliceblue;
    font-size:18px;
    font-weight: normal;
}

.texto_nuestra h1 {
    text-shadow: 0px 0px 8px rgb(172, 162, 172);
}



.gran-footer {
    height: 80px;
    max-width: 90rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
    background-color: #47654d ;
    margin-top:10px;
}

.footer-texto {
    display: flex;
    margin-left: 100px;
    text-align: center;
    line-height: 80px;
    margin-top: 5px;
    color: white;
}

.footer-img {
    width: 18px;
    height: 28px;
    flex-wrap: wrap;
}

.footer-menu {
    display: flex;
    margin-right: 100px;
    list-style: none;
    line-height: 100px;
}

.footer-menu-item {
    font-size: 1rem;
    margin-left: 2rem;
}

/* AQUI VAMOS CON EL MENU HAMURGUESA */
#burger {
    display: none;
    outline:none;
}


.container-burger {
    height: 19px;
    width: 19px;
    cursor: pointer;
    border: 1px solid;
    position: relative;
    border:0;
    display: none;
    background-color: #47654d;
    border-radius:5px;

}

.linea {
    height: 10%;
    width: 75%;
    background-color: white;
    border-radius: 10px;
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.linea-top {
    top: 25%;
}

.linea-low {
    top: 75%;
}

.custom-checkbox:checked + .label-burger .container-burger .linea-med {
    opacity: 0
}

.custom-checkbox:checked + .label-burger .container-burger .linea-top {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: white;
}

.custom-checkbox:checked + .label-burger .container-burger .linea-low {
    background-color: white;
    transform: rotate(-45deg) translate(-50%, -50%);
    top: 22%;
    left: 43%;
}


/* AQUI FINALIZAMOS CON EL MENU HAMURGUESA */

@media only screen and (min-width:320px) and (max-device-width:768px) {
    .container-burger {
        display: flex;
        height: 36px;
        width: 36px;
        align-items: center;
        margin-right: 2.5rem;
    }

    .custom-checkbox:checked + .label-burger .container-burger .linea-low {
        background-color: white;
        transform: rotate(-45deg) translate(-50%, -50%);
        top: 22%;
        left: 45%;
    }

    .header_nav {
        flex-direction: column;
        background-color: #47654d ;
        position: absolute;
        top: 80px;
        width: 100%;
        align-items: center;
        transform: translate(100%);
        height: calc(100% - 80px);
        line-height: 40px;
    }

    .header_link {
        color: white;
        margin-left:0;
    }

    .custom-checkbox:checked ~ .header_nav {
        transform: translate(0%);
        transition: all 0.2s ease;
        z-index: 100;
    }

    .header_logo {
        width: 145px;
        height:54px;
        object-fit: cover;
        margin-left: 2.5rem;
    }

    .galeria_vivero {
        display:none;
    }

    .altura-carousel {
        height:21.5rem !important;
        object-fit: cover;
    }

    .carousel-caption {
        width: 100%;
        left: 0;
        height:70px;
    }

    .texto_nuestra {
        margin: 0 5%;
        
    }

    .nuestra {
        background-repeat:no-repeat;
        background-position: 100% 100%;
    }

    .footer {
        flex-direction: column;
        justify-content:center;
        align-items:center;
        padding-bottom: 20px;
    }

    .footer-texto {
        margin: 0 0 0 0;
    }

    .footer-menu {
        margin: 0 0 0 0;
        line-height: 0px;
    }
    
    .item-whatsapp {
        margin-left: 0;
    }

    ul {
        padding-left:0;
    }

    #id_vision {
        margin: 0 2%;
    }

    .body-acordeon {
        flex-direction: column;
        padding: 0;
    }

    .body-acordeon p{
        display:flex;
        justify-content: center;
        align-items:center;
        width: 100% !important;
    }

    .accordion-imagen {
        width: 100% !important;
        height:100% !important;
    }

    #interiores {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #accordionPanelsStayOpenExample {
        margin: 0 2%;
    }

    #parrafo-productos {
        font-size: 16px;
        text-align: center;
        margin:0;
        margin-top:0.5rem;
    }

    /* no me fue posible sobre escribir las reglas de margen sin crear un id */

    #servicios {
        margin: 0 2%;
    }

    #accordionFlushExample {
        margin: 0 2%;
    }

    #accordionExample {
        margin: 0 2%;
    }

    .preguntas {
        padding-left: 2%;
        padding-right: 2%;
    }

    #form {
        margin: 0;
        background-color: #f5f5f5;
    }

    .jotform-form {
        margin-left: 0;
    }

}


/* VAMOS A LA PAGINA DE QUIENES SOMOS */


.quienes_somos {
    margin-left:13%;
    margin-right:13%;
    justify-content:center;
    text-align:justify;
    margin-top: 3rem;
}

.quienes_somos h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    color: #391300;
}

.quienes_somos p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 25px;
    font-weight: 400;
}

.accordion {
    margin-left:13%;
    margin-right:13%;
    justify-content:center;
}

.accordion-button {
    background-color:#47654d;
    border-radius: 5px;
    color:aliceblue;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.accordion-button:not(.collapsed) {
    background-color:#47654d;
    color: aliceblue;
    text-align: center;
    border-radius: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.accordion-button:focus {
    z-index: none;
    border-color: none;
    outline: 0;
    box-shadow: none;
    color:aliceblue;
    display: block;
}


.accordion-body p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 25px;
    font-weight: 400;
    text-align:justify;
}


.body-acordeon {
    display: flex;
    padding:10px;
    flex-wrap:nowrap;
    justify-content: center;
    align-items:center;
}

.accordion-imagen {
    width: 50%;
    height: 50%;
}



.body-acordeon img {
    height: auto;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}


.body-acordeon p {
    display:flex;
    margin: 10px 10px;
    justify-content: center;
    align-items:center;
    width: 50%;
}

/* TERMINAMOS LA PAGINA DE QUIENES SOMOS */

.sin_margen_nuestra {
    margin:0;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: auto;
}


.productos_interior {
    position: relative;
}

.productos_interior p {
    position:absolute;
    color:white;
    top:0%;
    left:0%;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-left: 24px;
}

.sombra {
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
}

.direccion {
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    color: #391300;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.coloreando {
    background-color:rgb(109, 161, 111);
    color: white;
}

.coloreando-materas {
    background-color: #391300;
    color:aliceblue;
}



#servicios p{
    width: 100%;
    margin: 0;
}

#servicios h4 {
    color: #009f2f;
    margin-top: 2rem;
}


.titulo-preguntas {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    color: #391300;
}

#titulo_faq {
    font-size: 16px !important;
}


.formulario {
    min-width: 100%;
    height:740px;
    border:none;

}

#form {
    background-color: #f5f5f5;
    padding: 4px 4px;
}

.form-section {
    padding-bottom: 100px;
}

.mapa_contacto {
    margin: 0 5%;
}


